﻿@model HeroBoard.MVC.UI.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<div class="content-md">
    <h2 class="margin-t-40 margin-l-25p">@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row manage">
        @using (Html.BeginForm("changeResumeFile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12">
                <label class="col-md-4 control-label margin-t-40 margin-l-25p">Resume</label>
                <div class="col-md-6 margin-t-10 margin-l-25p">
                    <input type="file" name="ResumeFileName" />
                </div>
                <div class="col-md-4 margin-t-10 margin-l-25p">
                    <input type="submit" class="btn btn-default" value="Upload" style="margin-top:10px;" />
                </div>
            </div>      
        }
        <div class="row">
            <div class="col-md-12">
                <p class="margin-t-40 margin-l-25p" style="float: none;">
                    @if (Model.HasPassword)
            {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Pick a password", "SetPassword")
                    }
                </p>
                <p class="margin-t-40 margin-l-25p " style="float: none;">
                    Phone Number: @(Model.PhoneNumber ?? "None") [
                    @if (Model.PhoneNumber != null)
            {
                        @Html.ActionLink("Change", "AddPhoneNumber")
                        @: &nbsp;|&nbsp;
                        @Html.ActionLink("Remove", "RemovePhoneNumber")
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddPhoneNumber")
                    }
                    ]
                </p>
            </div>
        </div>
    </div>
</div>