﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@if (User.IsInRole("Admin"))
{
    ViewBag.Title = "Delete";


    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Delete.</h2>

        <h3>Are you sure you want to delete this Role? </h3>
        <p>Deleting this Role will remove all users from this role. It will not delete the users.</p>
        <div>
            <h4>Role.</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
}