﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@(User.IsInRole("Admin"))
{
    ViewBag.Title = "Index";


<div class="content-md">
    <h2 class="margin-t-40 margin-l-50p">Roles</h2>

    <p class="margin-t-40 margin-l-25p">
        @Html.ActionLink("New Role", "Create")
    </p>
    <table class="table margin-l-auto margin-r-auto">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
}