﻿@model HeroBoard.DATA.EF.OpenAssignment

@if(!User.IsInRole("Hero"))
{
    ViewBag.Title = "Details";
<div class="content-md">
    <h2 class="margin-t-40 margin-l-50p">Details</h2>

    <div>
        <h4 class="margin-t-40 margin-l-50p">OpenAssignment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillLevel.SkillName)
            </dd>

        </dl>
    </div>
    <p class="margin-t-40 margin-l-25p">
        @Html.ActionLink("Edit", "Edit", new { id = Model.OpenAssignID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
}

