﻿@model IEnumerable<HeroBoard.DATA.EF.OpenAssignment>

@if (!User.IsInRole("User"))
{
    ViewBag.Title = "Open Assignments";
    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">@ViewBag.Title</h2>
        <h3 class="margin-t-40 margin-l-50p">@TempData["message"]</h3>
        @if (!User.IsInRole("Hero"))
        {
            <p class="margin-t-40 margin-l-25p">
                @Html.ActionLink("New Assignment", "Create")
            </p>
        }
        <table class="table margin-l-auto margin-r-auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillLevel.SkillName)
                    </td>
                    <td>
                        @if (!User.IsInRole("Hero"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.OpenAssignID }) @:|
                            @Html.ActionLink("Details", "Details", new { id = item.OpenAssignID }) @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.OpenAssignID })
                        }
                        @Html.ActionLink("Apply", "Apply", "OpenAssignments", new { id = item.OpenAssignID }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
}
