﻿@model HeroBoard.DATA.EF.Hero

@if(User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    ViewBag.Title = "Delete";

<div class="content-md">
    <h2 class="margin-t-40 margin-l-50p">Delete</h2>

    <h3 class="margin-t-40 margin-l-25p">Are you sure you want to delete this?</h3>
    <div>
        <h4 class="margin-t-40 margin-l-25p">Hero</h4>
        <hr />
        <dl class="dl-horizontal margin-l-15p">
            <dt>
                @Html.DisplayNameFor(model => model.Alias)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Alias)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillLevel.SkillName)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.ImageFileName)
            </dd>

        </dl>

        <div class="margin-l-15p">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>    </div>
</div>
}