﻿@model HeroBoard.DATA.EF.Hero

@if (!User.IsInRole("User") && !User.IsInRole("Hero"))
{
    ViewBag.Title = "Details";


    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Details</h2>

        <div>
            <h4 class="margin-t-40 margin-l-50p">Hero</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Alias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alias)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AspNetUser.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SkillLevel.SkillName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SkillLevel.SkillName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.HeroID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}