﻿@model IEnumerable<HeroBoard.DATA.EF.Hero>

@{
    ViewBag.Title = "Heroes";
}

<div class="content-h">
    <h2 class="margin-t-40" style="text-align:center;">Heroes</h2>
    @if (User.IsInRole("Admin"))
    {
        <p style="text-align:center;">
            @Html.ActionLink("New Hero", "Create")
        </p>
    }
        <div class="grid" style="position:relative;">
            @foreach (var item in Model)
            {
                <div class="grid-item">
                    <div>
                        <img src="~/Content/img/@item.ImageFileName" alt="Profile Image"/>
                    </div>
                    <div>
                        <div class="accordionO" style="width:250px">
                            <h3>@item.Alias</h3>
                            <div class="accordionI">
                                @if (!Request.IsAuthenticated || !User.IsInRole("User"))
                                {
                                    <h3>First Name</h3>
                                    <div>
                                        <p>@item.FirstName</p>
                                    </div>
                                    <h3>Last Name</h3>
                                    <div>
                                        <p>@item.LastName</p>
                                    </div>
                                }
                                <h3>Description</h3>
                                <div>
                                    <p>@item.Description</p>
                                </div>
                                <h3>Active</h3>
                                <div>
                                    <p>@item.IsActive</p>
                                </div>
                                <h3>Location</h3>
                                <div>
                                    <p>@item.Location.City</p>
                                </div>
                                <h3>Classification</h3>
                                <div>
                                    <p>@item.SkillLevel.SkillName</p>
                                </div>
                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <h3>Adjustments</h3>
                                    <div>
                                        <p><a href="@Url.Action("Edit", "Heroes", new { id = item.HeroID })">Edit</a></p>
                                        <p><a href="@Url.Action("Details", "Heroes", new { id = item.HeroID })">Overview</a></p>
                                        <p><a href="@Url.Action("Delete", "Heroes", new { id = item.HeroID })">Delete</a></p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
<script>
    var $grid = $('.grid').masonry({
        // options...
        columnWidth: 300,
        fitWidth: false,
        gutter: 5,
        originTop: false,
        originLeft:false
        
    });
    //$grid.imagesLoaded().progress(function () {
    //    $grid.masonry('layout');
    //});
</script>
<script>
    $(document).on('ready', function () {
        $(".accordionO").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content"
        });
    });
</script>
<script>
    $(document).on('ready', function () {
        $(".accordionI").accordion({
            collapsible: true,
            active: false,
            heightStyle: "content"

        });
    });
</script>


