﻿@{
    ViewBag.Title = "About Us";
}
<div class="parallax-window" data-parallax="scroll" data-image-src="~/Content/img/1920x1080/01.jpg">
    <div class="parallax-content container">
        <h1 class="hh">@ViewBag.Title</h1>
    </div>
</div>
<!--========== PARALLAX ==========-->
<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div class="container" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-sm-7 sm-margin-b-10 margin-t-40">
            <p class="center overview2">
                In a world where men can fly, kids can stick to walls, and gods come down from the heavens above,
                one company stands above the rest. HeroCorp was founded after the Sokovia Accords were put into place, to not only
                keep the heroes of the world in check, but also to have a place for those with new found powers to hone, practice,
                and put their skills to use.
            </p>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="~/Content/img/Avengers-Logo.png" alt="Our Office">
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End About -->
<!-- Team -->
<div class="bg-color-sky-light">
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2 class="hh">Meet the Management</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua enim minim veniam exercitation</p>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50 overview3">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive picture" src="~/Content/img/Nick-Fury.png" alt="Nick Fury">
                    </div>
                </div>
                <h4>Nick Fury<span class="text-uppercase margin-l-20">East Coast Team Manager</span></h4>
                <p style="font-weight:500;">"There was an idea called the Avengers Initiative. The idea was to bring together a group of remarkable people, see if they could become something more. See if they could work together when we needed them to to fight the battles we never could."</p>
            </div>
            <!-- End Team -->
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50 overview3">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive picture" src="~/Content/img/Maria-Hill.png" alt="Team Image">
                    </div>
                </div>
                <h4>Maria Hill<span class="text-uppercase margin-l-20">West Coast Team Manager</span></h4>
                <p>"Everything’s changing. A little while ago, most people went to bed thinking that the craziest thing in the world was a billionaire in a flying metal suit. Then aliens invaded New York and were beaten back by, among others, a giant green monster, a costumed hero from the ‘40s, and a god."</p>
            </div>
            <!-- End Team -->
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50 overview3">
                <div class="margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive picture" src="~/Content/img/Phil-Coulson.png" alt="Team Image">
                    </div>
                </div>
                <h4>Phil Coulson<span class="text-uppercase margin-l-20">international Team Manager</span></h4>
                <p>"We were lucky enough to make it through. The Triskelion, the Hub... those battles are just the beginning of this war. HYDRA is out there now, but at least our team is still intact. We can fight them, and we will."</p>
            </div>
            <!-- End Team -->
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Team -->
<!-- Testimonials -->
<div class="content-sm container" style="padding-bottom:0px;">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="hh">Notes From CEOs</h2>

            <!-- Swiper Testimonials -->
            <div class="swiper-slider swiper-testimonials">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                “Luck's a revolving door, you just need to know when it's your time to walk through.”
                            </div>
                            <p><span class="fweight-700 color-link">Stan Lee</span>, Marvel Creator</p>
                        </blockquote>
                    </div>
                    <div class="swiper-slide">
                        <blockquote class="blockquote">
                            <div class="margin-b-20">
                                "Once we've learned enough about the universe we will admit to ourselves that we will never know everything."
                            </div>
                            <p><span class="fweight-700 color-link">Jack Kirby</span>, Marvel Creator</p>
                        </blockquote>
                    </div>
                </div>
                <!-- End Swiper Wrapper -->
                <!-- Pagination -->
                <div class="swiper-testimonials-pagination"></div>
            </div>
            <!-- End Swiper Testimonials -->
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End Testimonials -->
