﻿@{
    ViewBag.Title = "HeroCorp";
}
<div class="container margin-t-125">
    <div class="row margin-t-40">
        <h2 class="center">Company Overview</h2>
        <p class="center overview">
            In a world where men can fly, kids can stick to walls, and gods come down from the heavens above,
            one company stands above the rest. HeroCorp was founded after the Sokovia Accords were put into place, to not only
            keep the heroes of the world in check, but also to have a place for those with new found powers to hone, practice,
            and put their skills to use.
        </p>
    </div>
</div>
<!-- Latest Products -->
<div class="content-lg container">
    <div class="row margin-b-40 margin-t-40">
        <div class="col-sm-12">
            <h2 class="center">Core Values</h2>
            <p class="center" style="font-weight:800;">These are the core values upheld by HeroCorp and all of its associates. These values are the pillars of the corporation.</p>
        </div>
    </div>
    <!--// end row -->

    <div class="row content-cv">
        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 margin-b-10">
            <div class="margin-b-20 margin-t-10">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="~/Content/img/Compassion.png" alt="Latest Products Image" style="background-color: white; border-radius:20px;">
                </div>
            </div>
            <h4>Compassion</h4>
            <p style="text-align:justify;">
                Compassion motivates people to go out of their way to help the physical, mental or emotional pains of another and themselves. HeroCorp upholds this value
                by seeking out problems in the community and confronting them head on! HeroCorp also gives back to the community through various fundraiser events.
            </p>
        </div>
        <!-- End Latest Products -->
        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 margin-b-10">
            <div class="margin-b-20 margin-t-10">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="~/Content/img/Liberty.png" alt="Latest Products Image" style="background-color: white; border-radius:20px;">
                </div>
            </div>
            <h4>Liberty</h4>
            <p style="text-align:justify;">
                Liberty consists of the social and political freedoms to which all community members are entitled. HeroCorp strives to make sure every citizen has their
                social and political freedoms upheld, unimpeded by others, and dealing with extremist groups who go against those ideals.
            </p>
        </div>
        <!-- End Latest Products -->
        <!-- Latest Products -->
        <div class="col-sm-4 sm-margin-b-50 margin-b-10">
            <div class="margin-b-20 margin-t-10">
                <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="img-responsive" src="~/Content/img/Law.png" alt="Scales" style="background-color: white; border-radius:20px;">
                </div>
            </div>
            <h4>Justice</h4>
            <p style="text-align:justify;">
                Justice is the legal or philosophical theory by which fairness is administered. HeroCorp upholds all of its values with Justice in mind. Upholding the peace,
                and dealing judgement swiftly and fairly is what HeroCorp strives to do.
            </p>
        </div>
        <!-- End Latest Products -->
    </div>
    <!--// end row -->
</div>
<!-- End Latest Products -->
