﻿@model HeroBoard.DATA.EF.Location

@{
    ViewBag.Title = "Delete";
}

<div class="content-md">
    <h2 class="margin-t-40 margin-l-25p">@ViewBag.Title</h2>

    <h3 class="margin-t-40 margin-l-25p">Are you sure you want to delete this?</h3>
    <div>
        <h4 class="margin-t-40 margin-l-25p">Location</h4>
        <hr />
        <dl class="dl-horizontal margin-l-15p">
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

        </dl>

        <div class="margin-l-15p">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>    </div>
</div>