﻿@model HeroBoard.DATA.EF.Location

@{
    ViewBag.Title = "Details";
}

<div class="content-md">
    <h2 class="margin-t-40 margin-l-50p">Details</h2>

    <div>
        <h4 class="margin-t-40 margin-l-50p">Location</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>