﻿@model IEnumerable<HeroBoard.DATA.EF.Location>

@{
    ViewBag.Title = "Current Locations";
}

<div class="content-md">
    <h2 class="margin-t-40 margin-l-50p">@ViewBag.Title</h2>

    <p class="margin-l-15p">
        @Html.ActionLink("New Location", "Create")
    </p>
    <table class="table margin-l-auto margin-r-auto">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocationID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
                </td>
            </tr>
        }

    </table>
</div>