﻿<!DOCTYPE html>
<!-- ==============================
    Project:        Metronic "Asentus" Frontend Freebie - Responsive HTML Template Based On Twitter Bootstrap 3.3.4
    Version:        1.0
    Author:         KeenThemes
    Primary use:    Corporate, Business Themes.
    Email:          support@keenthemes.com
    Follow:         http://www.twitter.com/keenthemes
    Like:           http://www.facebook.com/keenthemes
    Website:        http://www.keenthemes.com
    Premium:        Premium Metronic Admin Theme: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
================================== -->
<html lang="en" class="no-js">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="~/Content/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
    <!-- THEME STYLES -->
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Content/vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
    <link href="~/Content/masonry-docs.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BODY -->
<body>
        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <h4 style="font-size:.5em; margin-bottom:0px"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">Asentus</a> Theme Powered by: <a class="color-base fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></h4>
                    <div class="logo">
                        <h1 class="logo"><strong style="color:goldenrod;">H</strong>ero<strong style="color:goldenrod;">C</strong>orp</h1>
                    </div>

                        <!-- End Logo -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                                <li>
                                </li>
                                @if (!Request.IsAuthenticated)
                                {
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Home/Index">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-item-child dropbtn" data-toggle="dropdown" style="border-bottom:black;">About</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Home/About">About</a></li>
                                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Content/docs/Project Documentation.pdf">Documentation</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Heroes/Index">Heroes</a></li>
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/OpenPositions/Index">Open Positions</a></li>
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/Account/Register"><i class="fa fa-user"></i> Register</a></li>
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/Account/Login"><i class="fa fa-lock"></i> Login</a></li>
                                }
                                else
                                {
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="~/Home/Index">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-item-child dropbtn" data-toggle="dropdown" style="border-bottom:black;">About</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Home/About">About</a></li>
                                            <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Content/docs/Project Documentation.pdf">Documentation</a></li>
                                        </ul>
                                    </li>
                                    if (!User.IsInRole("Admin") && !User.IsInRole("Manager"))
                                    {
                                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Heroes/Index">Heroes</a></li>
                                    }
                                    if (User.IsInRole("User"))
                                    {
                                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/OpenPositions/Index">Open Positions</a></li>
                                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Applications/Index">Applications</a></li>

                                    }
                                    if (User.IsInRole("Hero"))
                                    {
                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-item-child dropbtn" data-toggle="dropdown" style="border-bottom:black;">Assignments</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/OpenAssignments/Index">Open</a></li>
                                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Assignments/Index">Current</a></li>
                                            </ul>
                                        </li>
                                    }
                                    if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item dropdown">
                                            <a href="#" class="nav-item-child dropbtn" data-toggle="dropdown" style="border-bottom:black;">Access</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Applications/Index">Applications</a></li>
                                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/OpenPositions/Index">Positions</a></li>
                                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/OpenAssignments/Index">Assignments</a></li>
                                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Heroes/Index">Heroes</a></li>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <hr />
                                                    <li class="nav-item" style=""><a class="nav-item-child nav-item-hover" href="~/Locations/Index">Locations</a></li>
                                                    <li class="nav-item" style=""><a class="nav-item-child nav-item-hover" href="~/UsersAdmin/Index">Users</a></li>
                                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/RolesAdmin/Index">Roles</a></li>
                                                }

                                            </ul>
                                        </li>
                                    }
                                    <li class="nav-item"><a class="nav-item-child nav-item-hover" href="~/Manage/Index"><i class="fa fa-user"></i>Welcome @Session["FirstName"] @Session["LastName"]!</a></li>
                                    <li class="nav-item"> <a class="nav-item-child nav-item-hover" href="@Url.Action("Logout", "Account")"><i class="fa fa-lock"></i> Logout</a></li>

                                }
                            </ul>

                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->
        <!--========== PAGE LAYOUT ==========-->

        <div class="content-p">
            @RenderBody()
        </div>        <!--========== END PAGE LAYOUT ==========-->
        <!--========== FOOTER ==========-->
    <div class="content-ft">
        <div class="col-xs-6 text-right">
            @*<p class="margin-b-0 footer-text" style="background-color:black; border-radius:5px;"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">Asentus</a> Theme Powered by: <a class="color-base fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></p>*@
        </div>
    </div>
    @*<footer class="footer">
            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="logo">
                        <h1 class="logo"><strong style="color:goldenrod;">H</strong>ero<strong style="color:goldenrod;">C</strong>orp</h1>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0 footer-text"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">Asentus</a> Theme Powered by: <a class="color-base fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></p>
                    </div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>*@
    <!--========== END FOOTER ==========-->
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- CORE PLUGINS -->
    <script src="~/Content/vendor/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
    <script src="~/Content/vendor/jquery.easing.js" type="text/javascript"></script>
    <script src="~/Content/vendor/jquery.back-to-top.js" type="text/javascript"></script>
    <script src="~/Content/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
    <script src="~/Content/vendor/jquery.wow.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/layout.js" type="text/javascript"></script>
    <script src="~/Scripts/components/wow.min.js" type="text/javascript"></script>
    <script src="~/Scripts/components/swiper.min.js" type="text/javascript"></script>
    <script src="~/Scripts/components/masonry.min.js" type="text/javascript"></script>
    @RenderSection("scripts", false)

</body>
<!-- END BODY -->
</html>