﻿@model HeroBoard.DATA.EF.Assignment

@if (!User.IsInRole("User"))
{
    ViewBag.Title = "Details";


    <h2>Details</h2>

    <div>
        <h4>Assignment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hero.UserID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hero.UserID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpenAssignment.ManagerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpenAssignment.ManagerID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SkillLevel.SkillName)
            </dd>

        </dl>
    </div>
    <p>
        @if (!User.IsInRole("Hero"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.AssignmentID }) @:|
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
}
