﻿@model IEnumerable<HeroBoard.DATA.EF.Assignment>

@if(!User.IsInRole("User"))
{
    ViewBag.Title = "Current Assignments";

<div class="content-md">
    <h2 class="margin-t-40 margin-l-50p">@ViewBag.Title</h2>
    <h3 class="margin-t-40 margin-l-50p">@Session["Message"]</h3>
    @if (User.IsInRole("Admin"))
    {  
    <p class="margin-t-40 margin-l-50p">
            @Html.ActionLink("New Assignment", "Create")
        </p>
    }
    <table class="table margin-l-auto margin-r-auto">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Activity Status
            </th>
            <th>
                Manager Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel.SkillName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                     <p>In Progress</p>
                    }
                    @if (item.IsActive == false)
                    {
                        <p>Completed</p>

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    @Html.DisplayFor(modelItem => item.AspNetUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillLevel.SkillName)
                </td>
                <td>
                    @if (User.IsInRole("Hero") && item.IsActive == true)
                    {
                        using (Html.BeginForm("Complete", "Assignments", new { @id = @item.AssignmentID }))
                        {

                            <input type="submit" value="Complete" class="btn btn-success" />
                        }

                    }
                    @if (!User.IsInRole("Hero"))
                    {                  
                    @Html.ActionLink("Edit", "Edit", new { id = item.AssignmentID }) @:|
                    @Html.ActionLink("Details", "Details", new { id = item.AssignmentID }) @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.AssignmentID })
                    }
                </td>
            </tr>
        }

    </table>
</div>
}