﻿@model HeroBoard.DATA.EF.Position

@if (User.IsInRole("Admin"))
{
    ViewBag.Title = "Details";

    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Details</h2>

        <div>
            <h4 class="margin-t-40 margin-l-50p">Position</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.JobDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JobDescription)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PositionID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}
