﻿@model IEnumerable<HeroBoard.DATA.EF.Position>

@if (!User.IsInRole("User") && !User.IsInRole("Hero"))
{
    ViewBag.Title = "Index";
    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Index</h2>
        @if(User.IsInRole("Admin")) {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        }
        <table class="table margin-l-auto margin-r-auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobDescription)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobDescription)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PositionID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PositionID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PositionID })
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
}
