﻿@model IEnumerable<HeroBoard.MVC.UI.Models.ApplicationUser>

@if (User.IsInRole("Admin"))
{
    ViewBag.Title = "Index";

    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Users</h2>

        <p class="margin-l-15p">
            @Html.ActionLink("New User", "Create")
        </p>
        <table class="table margin-l-auto margin-r-auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
}
