﻿@model HeroBoard.DATA.EF.OpenPosition

@if (!User.IsInRole("User"))
{
    ViewBag.Title = "Details";

    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Details</h2>

        <div>
            <h4 class="margin-t-40 margin-l-25p">OpenPosition</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Location.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Position.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Position.JobDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Position.JobDescription)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}