﻿@model IEnumerable<HeroBoard.DATA.EF.OpenPosition>

@if (!User.IsInRole("Hero"))
{
    ViewBag.Title = "Open Positions";


    <div class="content-md">
        <h2 class="margin-t-125 margin-l-50p">Open Positions</h2>
        <h3 class="margin-t-40 margin-l-25p">@TempData["message"]</h3>
        @if (Request.IsAuthenticated && !User.IsInRole("User"))
        {
            <p class="margin-l-15p">
                @Html.ActionLink("New Position", "Create")
            </p>
        }
        <table class="table margin-l-auto margin-r-auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Title)
                    </td>
                    <td>
                        @if (Request.IsAuthenticated && !User.IsInRole("User"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionID }) @:|
                            @Html.ActionLink("Details", "Details", new { id = item.OpenPositionID }) @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionID }) @:|
                        }
                        @Html.ActionLink("Apply", "Apply", "Applications", new { id = item.OpenPositionID}, new { @class = "btn btn-success" })
                    </td>

                </tr>
            }

        </table>
    </div>
}
