﻿@model HeroBoard.DATA.EF.Application

@ViewBag.Title = "Delete";


<div class="content-xlg">
    <h2 class="margin-t-40 margin-l-50p">@ViewBag.Title</h2>

    <h3 class="margin-t-40 margin-l-25p">Are you sure you want to delete this?</h3>
    <div>
        <h4 class="margin-t-40 margin-l-25p">Application</h4>
        <hr />
        <dl class="dl-horizontal margin-l-15p">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManagerNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDeclined)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeclined)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ResumeFileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResumeFileName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OpenPosition.OpenPositionID)
            </dd>

        </dl>

        <div class="margin-l-15p">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>