﻿@model HeroBoard.DATA.EF.Application

@if (!User.IsInRole("Hero"))
{
    ViewBag.Title = "Details";

    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Details</h2>

        <div>
            <h4 class="margin-t-40 margin-l-50p">Application</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ManagerNotes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ManagerNotes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDeclined)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDeclined)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ResumeFileName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ResumeFileName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AspNetUser.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpenPosition.OpenPositionID)
                </dd>

            </dl>
        </div>
        <p>
            @if (!User.IsInRole("User"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) @:|
            }
            @Html.ActionLink("Return to Applications", "Index")
        </p>
    </div>
}