﻿@model IEnumerable<HeroBoard.DATA.EF.Application>

@if (!User.IsInRole("Hero"))
{
    ViewBag.Title = "Open Applications";

    <div class="content-md">
        <h2 class="margin-t-40 margin-l-50p">Pending Applications</h2>
        <h3 class="margin-t-40 margin-l-50p">@TempData["message"]</h3>
        @if (User.IsInRole("Admin"))
        {
            <p class="margin-t-40 margin-l-25p">
                @Html.ActionLink("New Application", "Create")
            </p>
        }
        <table class="table margin-l-auto margin-r-auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagerNotes)
                </th>
                <th>
                    Application Status
                </th>
                <th>
                    Resume
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManagerNotes)
                    </td>
                    @if (item.IsDeclined == null)
                    {
                        <td>
                            <p>Pending</p>
                            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                            {

                                using (Html.BeginForm("HeroApplication", "Heroes", new { @id = @item.ApplicationID, @b = false }, FormMethod.Post, null))
                                {

                                    <input type="submit" value="Accept" class="btn btn-success" style="float: left;" />
                                }
                                @*<button>
                                       @Html.ActionLink("Approve", "HeroApplication", "Heroes",
                                      FormMethod.Post, new { id = item.ApplicationID, b = false,
                                          @class = "btn btn-default" })

                                    </button>*@
                            using (Html.BeginForm("AppReject", "Applications", new { @id = @item.ApplicationID, @b = true }, FormMethod.Post, null))
                            {

                                <input type="submit" value="Reject" class="btn btn-danger" />
                                }
                            }
                            @*<button>
                                    @Html.ActionLink("Decline", "Create", "Applications", FormMethod.Post, new { id = item.ApplicationID, b = false, @class = "btn btn-danger" })
                                </button>*@
                        </td>
                    }
                    @if (item.IsDeclined == false)
                    {
                        <td>
                            Approved
                        </td>
                    }
                    @if (item.IsDeclined == true)
                    {
                        <td>
                            Rejected
                        </td>
                    }

                    <td>
                        <a href="~/Content/Resumes/@item.ResumeFileName" download="@item.AspNetUser.FirstName @item.AspNetUser.LastName Resume">Download Resume</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionID)
                    </td>
                    <td>
                        @if (!User.IsInRole("User"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }) @:|
                            @Html.ActionLink("Details", "Details", new { id = item.ApplicationID }) @:|
                            @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID }, FormMethod.Post)
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
}